anyio
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
Babel
backcall
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
colorama
comm
cycler
debugpy
decorator
defusedxml
entrypoints
executing
fastjsonschema
fonttools
freegames
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
json5
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab_widgets
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
mpmath
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook-shim
numpy
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
prometheus-client
prompt-toolkit
psutil
PuLP
pure-eval
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pywin32
requests
scipy
seaborn
Send2Trash
six
sniffio
sns
soupsieve
stack-data
sympy
terminado
tinycss2
tornado
traitlets
tzdata
urllib3
wcwidth
webencodings
websocket-client
widgetsnbextension
